{% extends 'base.html' %} {% block content %}
<h2>{{ video.title }}</h2>
<video width="60%" controls>
  <source src="{{ video.file.url }}" type="video/mp4" />
  Your browser does not support the video tag.
</video>
<div class="reaction-buttons">
  <form method="POST" action="{% url 'react_video' video.id 'like' %}">
    {% csrf_token %}
    <button type="submit" class="{% if user in video.liked_by.all %}liked{% endif %}">
      👍 {{ video.total_likes }}
    </button>
  </form>

  <form method="POST" action="{% url 'react_video' video.id 'dislike' %}">
    {% csrf_token %}
    <button type="submit" class="{% if user in video.disliked_by.all %}disliked{% endif %}">
      👎 {{ video.total_dislikes }}
    </button>
  </form>
  
  {% if user.is_authenticated and user != video.uploaded_by %}
  {% if video.uploaded_by.profile in user.profile.following.all %}
  <form action="{% url 'toggle_follow' video.uploaded_by.id %}" method="POST">
    {% csrf_token %}
    <button type="submit">Unsubscribe</button>
  </form>
  {% else %}
  <form action="{% url 'toggle_follow' video.uploaded_by.id %}" method="POST">
    {% csrf_token %}
    <button type="submit">Subscribe</button>
  </form>
  {% endif %}
  {% endif %}
  
</div>
<p>Uploaded by: {{ video.uploaded_by.username }}</p>
<p>{{ video.uploaded_by.profile.followers.count }} Subscribers</p>

<p><strong>Description: </strong><small>{{ video.description }}</small></p>

{% endblock %}
